.list {
  width: 100%;
  background-color: #fcf7f7;

  &__header {
    display: flex;
    height: 100px;
    padding: 10px 30px;
  }

  &__header-img {
    width: 80px;
  }

  &__header-form {
    width: 100%;
    margin: auto;
    padding-left: 30px;
  }

  &__header-input {
    max-width: 450px;
    width: 100%;
    height: 25px;
  }

  &__item {
    list-style: none;
    display: flex;
  }

  &__done-item {
    border: none;
    background: transparent;
    text-decoration: line-through;
  }

  &__unfinished-item {
    border: none;
    background: transparent;
  }
}
