.sub-list {
  width: 550px;
  background-color: #faf0f0;
  box-shadow: 0 0 2px rgb(167, 167, 167);
  transition: 2s;

  &__item {
    list-style: none;
    display: flex;
  }

  &__done-item {
    border: none;
    background: transparent;
    text-decoration: line-through;
  }

  &__unfinished-item {
    border: none;
    outline: none;
    background-color: transparent;
  }

  &__action-button {
    margin-left: 6px;
  }
}
